*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
    text-align: center;
}

h1 {
    padding-top: 20%;
}

h4 {
    text-align: left;
}

h3 {
    text-align: right;
}

.start-button {
    text-align: center;
}

button {
    background-color:blueviolet;
    padding: 20px;
    color: white;
    font-weight: bolder;
}